body{
    background: gray;
    
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 700;
    font-style: italic;
    color: #FFFFFF #944242 #5529bd;
    text-align: center;
}
.maDiv1{
width: 100%; 
height: 50px; 
margin: 0;
z-index: 99; 
position: relative; 
background-color: #2c5307;
}

.menuNavF{
height: 50px;
padding: 0;
margin: 0;
position: absolute; 
}
.menuNavF li{

list-style: none;  
font: normal bold 13px/1em Arial, Verdana, Helvetica;  
padding: 0;
margin: 0;
height: auto;
width: 135.8px; 
float: left;  
text-align: center; 
background-color: #43fc53f1;
}
.menuNavF a{	
text-decoration: none; 
color: #FFFFFF;						
padding: 18px 0;  
border-left: 1px solid #ccc9c9;
display: block;
}
.menuNavF li:hover, a:hover {
background-color: #FFFFFF;
color: rgb(41, 79, 250);
} 
.menuNavF li ul{
display: none;
height: auto;									
margin: 0; 
padding: 0; 
}				
.menuNavF li:hover ul{
display: block;
}
.menuNavF li ul li {
    background-color: #43fc53f1;
} 

.menuNavF li ul li a:hover{
background-color: #a3a1a1;
}

/**le style pour le bouton de recherche da page de formation**/
input, button {
    float:right;
    margin: .8rem 0rem; 
    height: 25px;  
}
input{
    margin-right: 20px;
    width: 200px;
}

