fieldset{
    margin-right: 90px;
    margin-left: 90px;
    margin-top: auto;
    background-color: aquamarine;
}
legend{
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
}
li{
    list-style: none;
}
em{
    color: red;
}
label{
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input:focus {
    background: #eaeaea;
}
input,select, textarea{
    width: 260px;
}
input,select{
    height:25px;
}
input#click{
    font-weight: 800;
    width: 100px;
}
input#click:hover{
    background-color: blue;
    color: red;
}