
th{
    font-style: normal;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}
td{
    border: 1px solid rgb(0, 2, 5);
    border-collapse: collapse;
}